.bar {
    background-color: #282828;
    color: white;
    height: 86px;
    font-size: 2rem;
    text-shadow: 1px 1px black;
}

.item {
    margin: 19px 0;
    padding: 0;
    max-width: 720px;
}

.row {
    max-width: 1440px;
    margin: 0;
}
